# Node.js зависимости (для сервера и клиента)
node_modules/

# Папка с собранным React приложением
build/

# Логи npm и yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы переменных окружения с секретами
.env

# Кэш и временные папки
.cache/
.temp/

# IDE, редакторы и системные файлы
.idea/
.vscode/
.DS_Store
Thumbs.db

# Файлы, создаваемые системой или пакетами
*.tgz
*.tsbuildinfo

# Дополнительно для React
coverage/
